.player1
{
  width: 200px;
  height: 150px;
color: white;
  /* Center vertically and horizontally */
  position: absolute;
  top: 20%;
  left: 20%;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  font-size: 20px;
  display:inline-block;
}
.inputfield
{
  color:black;
}
.tableCardPlayer{
   height:100%;
  margin: auto;
  display: inline-block;

}
.playerbuttons
{
  display: inline-block;
}