.container {
    background-image: url(../imgs/table.jpg);
  
      /* Full height */
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
}
.camera
{
  width: 250px;
  height: 250px;

  /* Center vertically and horizontally */
  position: absolute;
  top: 30%;
  left: 3%;
  display: inline-block;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  font-size: 20px;
}
.cardsDiv
{
    width: 600px;
    height: 150px;
    
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 40%;
    margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
}

.pot
{
  width: 200px;
  height: 150px;
  background-color: white;
  top: 70%;
  left: 50%;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  position: absolute;
}
.player3
{
  width: 200px;
  height: 150px;
  
  /* Center vertically and horizontally */
  position: absolute;
  top: 70%;
  left: 20%;
  color:white; font-size: 20px;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  
}
.player2
{
  width: 200px;
  height: 150px;
  
  /* Center vertically and horizontally */
  position: absolute;
  top: 15%;
  left: 80%;
  font-size: 20px;
  color:white;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
}
.tableCard{
   height:100%;
  margin: auto;
  display: inline-block;

}
.lastaction
{ 
  position: absolute;
  top: 5%;
  left: 55%;
  font-size: 30px;
  color:white;
  
}